* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --dark-bg: #4a4e69;
  --dark-text: #23053a;
  --grey: #8e9aaf;
  --lightpurple: #cbc0d3;
  --beige: #feeafa;
  --lightblue: #eff1ff;

  /*fonts*/
  --ff-texts: 'Palanquin', sans-serif;
  --ff-titles: 'Staatliches', cursive;

  font-size: 62.5%;
}

body {
  background-color: var(--beige);
  text-align: center;
}

header {
  background-color: var(--grey);
  color: white;
  padding-top: 3.2rem;
  padding-bottom: 2.9rem;
}

header h1 {
  background-color: var(--lightpurple);
  font-family: var(--ff-titles);
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding: 0.8rem 0;
  margin-top: 3.2rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header svg {
  margin-top: 1.2rem;
}

main {
  color: var(--dark-text);
  max-width: 32rem;
  margin: 0 auto;
}

main p {
  font-family: var(--ff-texts);
  margin-top: 1.4rem;
  font-size: 2rem;
  line-height: 1.5rem;
  text-align: center;
}

main .cards {
  margin-top: 6rem;
  margin-bottom: 2.4rem;
}

main .card-wrapper {
  margin-bottom: 3.6rem;
  color: var(--dark-bg);
  font-family: var(--ff-titles);
  position: relative;
  transition: transform 200ms;
}

main .card-wrapper:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

main .card-wrapper img {
  animation-name: downup;
  animation-duration: 700ms;
}

main .card-title {
  position: absolute;
  background-color: var(--beige);
  border-radius: 4rem;
  padding: 0.1rem 2.4rem;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  top: 1.6rem;
  right: 1.6rem;
  animation-name: updown;
  animation-duration: 700ms;
}

@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
